@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus{
  outline: #503F76;
  border: #503F76 1px solid;
}